.Main {
    height: calc(100% - 100px);
}

.Main .row {
    height: 100%;
}

.Main .search {
    height: 350px;
}

.Main .search-2 {
    height: 200px;
}

.Main .results {
    height: calc(100% - 350px);
}

.Main .results-2 {
    height: calc(100% - 200px);
}

.Main .filters {
    border-left: 2px solid rgb(110, 89, 82);
    background-color: rgb(110, 89, 82);
    position: relative;
    -webkit-box-shadow: 0px 2px 21px 0px #222222; 
    box-shadow: 0px 2px 21px 0px #222222;
    z-index: 10;
    padding: 40px;
}

.Search {
    background-color: rgb(144, 119, 111);
    padding: 35px;
    padding-left: 40px;
    width: 100%;
}

.Search small {
    padding-left: 15px;
    cursor: pointer;
}

.Search .operator-btn {
    opacity: 0.5;
}

.Search .operator-btn:hover {
    opacity: 1.0;
}

.Results {
    background-color: rgb(175, 165, 161);
    padding: 35px;
    padding-left: 40px;
    width: 100%;
}

.OneResult {
    background-color: rgb(207, 198, 194);
    padding: 25px;
    margin: 10px;
}

.OneResult .highlight {
    border-left: 1px solid gray;
}

.Filters .add-file {
    margin-bottom: 20px;
    margin-top: 10px;
}

.Filters .add-btn {
    margin-bottom: 35px;
}